In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("datasets/Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [9]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
le=LabelEncoder()
df["Gender"]=le.fit_transform(df["Gender"])

In [10]:
ss=StandardScaler()
df.iloc[:,2:4]=ss.fit_transform(df.iloc[:,2:4])
df

      User ID  Gender       Age  EstimatedSalary  Purchased
0    15624510       1 -1.781797        -1.490046          0
1    15810944       1 -0.253587        -1.460681          0
2    15668575       0 -1.113206        -0.785290          0
3    15603246       0 -1.017692        -0.374182          0
4    15804002       1 -1.781797         0.183751          0
5    15728773       1 -1.017692        -0.344817          0
6    15598044       0 -1.017692         0.418669          0
7    15694829       0 -0.540127         2.356750          1
8    15600575       1 -1.208719        -1.078938          0
9    15727311       0 -0.253587        -0.139263          0
10   15570769       0 -1.113206         0.301210          0
11   15606274       0 -1.113206        -0.521006          0
12   15746139       1 -1.686284         0.477399          0
13   15704987       1 -0.540127        -1.519411          0
14   15628972       1 -1.877311         0.359940          0
15   15697686       1 -0.826666         0.301210          0
16   15733883       1  0.892570        -1.313857          1
17   15617482       1  0.701544        -1.284492          1
18   15704583       1  0.797057        -1.225763          1
19   15621083       0  0.988083        -1.196398          1
20   15649487       1  0.701544        -1.401952          1
21   15736760       0  0.892570        -0.609101          1
22   15714658       1  0.988083        -0.844019          1
23   15599081       0  0.701544        -1.401952          1
24   15705113       1  0.797057        -1.372587          1
25   15631159       1  0.892570        -1.460681          1
26   15792818       1  1.083596        -1.225763          1
27   15633531       0  0.892570        -1.167033          1
28   15744529       1 -0.826666        -0.785290          0
29   15669656       1 -0.635640        -1.519411          0
..        ...     ...       ...              ...        ...
370  15611430       0  2.134241        -0.697195          1
371  15774744       1  2.134241         0.389305          1
372  15629885       0  0.128465         0.095656          0
373  15708791       1  2.038728         1.769453          1
374  15793890       0 -0.062561         0.301210          0
375  15646091       0  0.797057        -1.108303          1
376  15596984       0  0.797057         0.125021          0
377  15800215       0  0.415005        -0.491641          0
378  15577806       1  0.319491         0.506764          1
379  15749381       0  1.943215        -1.372587          1
380  15683758       1  0.415005        -0.168628          0
381  15670615       1  0.988083        -1.078938          1
382  15715622       0  0.606031         2.033737          1
383  15707634       1  1.083596        -1.225763          1
384  15806901       0  1.847701        -1.078938          1
385  15775335       1  1.752188        -0.286087          1
386  15724150       0  1.083596        -0.902749          1
387  15627220       1  0.128465         0.036926          0
388  15672330       1  0.892570        -1.049573          1
389  15668521       0  0.988083        -1.020209          1
390  15807837       1  0.988083        -1.078938          1
391  15592570       1  0.892570        -1.372587          1
392  15748589       0  0.701544        -0.726560          1
393  15635893       1  2.134241        -0.814655          1
394  15757632       0  0.128465        -0.315452          0
395  15691863       0  0.797057        -0.844019          1
396  15706071       1  1.274623        -1.372587          1
397  15654296       0  1.179110        -1.460681          1
398  15755018       1 -0.158074        -1.078938          0
399  15594041       0  1.083596        -0.990844          1

[400 rows x 5 columns]

In [12]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(df.iloc[:,:-1],df.iloc[:,-1:],test_size=0.3,random_state=0)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5, p=2)
knn.fit(x_tr,y_tr)

e:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [29]:
knn.score(x_tr,y_tr),knn.score(x_te,y_te)

(0.6821428571428572, 0.6416666666666667)

In [32]:
y_pred=knn.predict(x_te)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_te,y_pred)
cm

array([[67, 12],
       [31, 10]], dtype=int64)